<div class="bg2 signup-block">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="text-center">
          <h1>Facebook Details</h1>
          <!-- <h1>{{user}}</h1> -->
          <form class="form-horizontal">
            <div class="container-fluid">
              <div>{{response}}</div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>