<div class="col-md-2">
	<h1>Left Area</h1>
</div>
<div class="col-md-8">
	<h1 style="background-color:#099988">Area for filters and other options</h1>
	<div>
		<ul class="products">
			<li>
        		<a href="#">
            	<img src="images/img1.jpg">
            	</a>
            	<table class="details">
            		<tr>
            			<th>Rs. 500/-</th>
            			<th colspan="3">Available</th>
            			<th>Add To Cart</th>
            		</tr>
            		<tr>
            			<th colspan="5">
            				<p>The Details Goes Here</p>
            			</th>
            		</tr>
            	</table>
        		
    		</li>
    		<li>
        		<a href="#">
            	<img src="images/img1.jpg">
            	</a>
            	
        		
    		</li>
		</ul>
	</div>
</div>
<div class="col-md-2">
	<h1>Right Area</h1>
</div>